language: perl

perl:
  - "5.24"
  - "5.22"
  - "5.14"
  - "5.10"

before_install:
  - git config --global user.name "TravisCI"

install:
  - cpanm --quiet --notest --skip-satisfied Dist::Zilla
  - dzil authordeps | grep -vP '[^\w:]' | xargs -n 5 -P 10 cpanm --quiet --notest --skip-satisfied
  - export RELEASE_TESTING=1 AUTOMATED_TESTING=1 AUTHOR_TESTING=1 HARNESS_OPTIONS=j10:c HARNESS_TIMER=1
  - dzil listdeps | grep -vP '[^\w:]' | cpanm --verbose

script:
  - dzil smoke --release --author
